<div class="preloader">
    <div class="preloader-icon"></div>
    <span>Loading...</span>
</div>
<app-admin-sidebar-group></app-admin-sidebar-group>
<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>
<div class="layout-wrapper">
    <!-- Header -->

    <div class="content-wrapper">
        <div class="content-body">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</div>
