<div class="navigation">
	<div class="navigation-header">
		<span>Navigation</span>
		<a href="#">
			<i class="ti-close"></i>
		</a>
	</div>
	<div class="navigation-menu-body">
		<ul>
			<li *ngFor="let item of navigationLinks">
				<a [routerLink]="item.href">
					<span class="nav-link-icon">
						<i [attr.data-feather]="item.icon"></i>
					</span>
					<span>{{ item.label }}</span>
				</a>
				<ng-container *ngIf="item.href === '#'">
					<ul>
						<li *ngFor="let children of item.children">
							<a [routerLink]="children.href">{{ children.label }}</a>
						</li>
					</ul>
				</ng-container>
			</li>
		</ul>
	</div>
</div>